[% WRAPPER faq_entry.tt %]
[% title = "How do I write a control file for lanugage XXX" %]

<p>
The <a href="tutorials/controlfiles.html">control file
tutorial</a> provides examples illustrating integration
with C, C++, Perl and Java programs.
</p>
[% END %]
