[% WRAPPER faq_entry.tt %]
[% title = "How do I create a new output module" %]

<p>
Creating a new output module for Test-AutoBuild is simply
a case subclassing the virtual <code>Test::AutoBuild::Output</code>
base module and implementing the <code>process</code> method. This
method is passed four arguments. An array ref for the list of modules,
an array ref for the list of groups, an array ref for the list of
code repositories and an array ref for the list of package types.
</p>
[% END %]
